.checkout-form {
    max-width: 600px;
    margin: 2rem auto;
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    color: #1e293b;
}

.form-title {
    text-align: center;
    margin-top: 30px;
}

fieldset {
    border: 1px solid #d1d5db;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
    color: #5b0843;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-family: inherit;
    font-size: 16px;
}

.form-radio {
    margin-bottom: 12px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Валідація */

.form-group input:invalid:focus {
    border-color: red;
    outline: none;
}

.form-group input:valid {
    border-color: green;
}

textarea {
    resize: vertical;
}

.btn {
    width: 100%;
    margin-top: 10px;
}
